body{
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#loginbox{
	margin-top: 100px;
}
#panel-cuerpo{
	padding-top:25px; 
}
#loginbox label{
	margin-bottom: 25px
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#login-admin{
	margin-top: 10px;
}

#home .home_SearchAddProduct{
	margin:20px 0 20px 0;
}