<div id="home" ng-controller="HomeController as vm">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Administrador</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon  glyphicon-user"></span> {{ vm.userlogueado }}</a></li>
          <li><a href="#{{vm.userlogueado}}" ng-click="vm.logout()"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <section class="container-fluid">
    <div class="home_title row">
      <h2 class="col-md-12 text-center">Listado de productos</h2>
    </div>
    <hr />
    <div class="home_SearchAddProduct row">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <button class="btn btn-primary" ng-click="vm.open_addProduct()"><span class="glyphicon glyphicon-plus"></span> Agregar Producto</button>
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-6 col-md-3 col-md-offset-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar .....">
          <span class="input-group-btn">
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="home_tableProduct table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Nombre de producto</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Editar/Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='product in vm.productos'>
            <td>{{ $index }}</td>
            <td>{{ product.product_cod}}</td>
            <td>{{ product.product_name}}</td>
            <td>{{ product.product_desc}}</td>
            <td>{{ product.product_category}}</td>
            <td>{{ product.product_stock}}</td>
            <td>{{ product.product_price}}</td>
            <td>
              <button type="button" class="btn btn-default btn-sm" ng-click="vm.update_editProduct(product);">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-danger btn-sm" ng-click="vm.delete_deleteProduct(product.product_cod)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="home_paginationProduct text-center">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="container-fluid">
    <div class="row">
      <p class="col-md-12 text-center">
       © 2016 Datadi
      </p>
    </div>
  </footer>
  <script type="text/ng-template" id="ModalAddEditProducto.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="close_AddProduct()">&times;</button>
      <h4 class="modal-title">Agregar Nuevo Producto</h4>
    </div>
    <div class="modal-body">
      <form name="myForm" role="form"  ng-submit="submit_AddProduct(templateproduct)" novalidate>
        <div class="form-group" >
          <label for="usrname">Código </label>
          <input type="text" class="form-control" ng-model="templateproduct.product_cod" placeholder="Ingrese el código de producto" value="{{ templateproduct.product_cod }}" required>
        </div>
        <div class="form-group">
          <label for="psw">Nombre del producto </label>
          <input type="text" class="form-control" ng-model="templateproduct.product_name" value="{{ templateproduct.product_name }}"  placeholder="Ingrese nombre del producto" required />
        </div>
        <div class="form-group">
          <label for="psw">Descripción</label>
          <textarea name="product_desc" class="form-control" ng-model="templateproduct.product_desc"  placeholder="Ingrese descripcion" value="{{ templateproduct.product_desc }}" required></textarea>
        </div>
        <div class="form-group">
          <label for="psw">Categoría</label>
          <input type="text" class="form-control" value="{{ templateproduct.product_category }}" ng-model="templateproduct.product_category" placeholder="Ingrese categoría">
        </div>
        <div class="form-group">
          <label for="psw">Stock</label>
          <input type="text" class="form-control"  value="{{ templateproduct.product_stock }}" ng-model="templateproduct.product_stock" placeholder="Ingrese stock del producto">
        </div>
        <div class="form-group">
          <label for="psw">Precio</label>
          <input type="text" class="form-control" value="{{ templateproduct.product_price }}" ng-model="templateproduct.product_price" placeholder="Ingrese precio del producto">
        </div>     
        <hr />
        <div class="form-group row">
          <div class="col-xs-6 col-md-6">
            <button class="btn btn-success btn-block" type="submit">Aceptar</button>
          </div>
          <div class="col-xs-6 col-md-6">
            <button class="btn btn-danger btn-block" type="button" ng-click="close_AddProduct()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </script>
  <script type="text/ng-template" id="ModalDeleteProducto.html">
    <div class="modal-header">
      <button type="button" class="close">&times;</button>
      <h4 class="modal-title">Eliminar Producto</h4>
    </div>
    <div class="modal-body">
      <p>¿ Está seguro que desea eliminar ?</p>
      <hr />
      <div class="form-group row">
        <div class="col-xs-6 col-md-6">
          <button class="btn btn-success btn-block" type="submit">Aceptar</button>
        </div>
        <div class="col-xs-6 col-md-6">
          <button class="btn btn-danger btn-block" type="button">Cancelar</button>
        </div>
      </div>
    </div>
  </script>
</div>