<div id="loginbox" class="col-md-6 col-md-offset-3" ng-controller="LoginController as vm">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">
            Administrador
            </div>
        </div>
        <div  id="panel-cuerpo" class="panel-body" >
            <form name="form" ng-submit="vm.login()" role="form" novalidate>
                 <div ng-class="{ 'alert': vm.flash.result, 'alert-danger': vm.flash.type === 'error' }" ng-if="vm.flash.result">
                     {{ vm.authmessage }}
                 </div>
                <div class="entradas form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>
                <div class="entradas form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions text-center">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-success">Iniciar sesión</button>
                    <div>
                    <!--
                        <img ng-if="vm.dataLoading" src="https://retchhh.files.wordpress.com/2015/03/loading6.gif" width="100%" class="img-responsive" />
                        -->
                        <!--<rotating-plane-spinner></rotating-plane-spinner>
                        <double-bounce-spinner></double-bounce-spinner>
                        <wave-spinner></wave-spinner>
                        <wandering-cubes-spinner></wandering-cubes-spinner>
                        <pulse-spinner></pulse-spinner>
                        <chasing-dots-spinner></chasing-dots-spinner>-->
                        <circle-spinner ng-if="vm.dataLoading"></circle-spinner>
                        <!--<three-bounce-spinner></three-bounce-spinner>
                        <cube-grid-spinner></cube-grid-spinner>
                        <word-press-spinner></word-press-spinner>
                        <fading-circle-spinner></fading-circle-spinner>-->  
                    </div>
                </div>
            </form>
        </div>    
    </div>
</div>